<div class="container bg-secondary text-white text-center py-4">
    <p class="m-0">Copyright &copy; 2020{{#if footer.date}}-{{footer.date}}{{/if}} <a href="#" class="text-white">AfzalSabbir</a></p>
</div>