<div class="container bg-secondary text-white text-center py-5">
    <p class="m-0">Copyright &copy; <a href="#" class="text-white">AfzalSabbir</a><br/>2020{{#if footer.date}}-{{footer.date}}{{/if}} </p>
</div>