<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <form id="form" class="my-3 d-flex" action="{{route 'admin_submit'}}" method="POST">
      <input type="text" class="form-control rounded-0 rounded-left" name="id" autofocus="" required="required">
      <button type="submit" class="btn btn-success rounded-0 rounded-right">Save</button>
    </form>
  </div>
</div>
{{#if showForm}}
  <div class="form-row">
    {{#each arr as |alias key|}}
    <div class="col-md-2 my-1">
      <div class="card">
        <div class="card-header">{{ add key 1 }}. {{alias}} <a href="/admin/delete/{{ key }}" class="close text-danger"> &times;</a></div>
      </div>
    </div>
    {{/each}}
  </div>
{{/if}}

<script>   
  {{!-- console.log(document.getElementById('form').innerHTML); --}}
</script>